@model CreateWordSample.Models.Customer

@{
    ViewBag.Title = "Create Document Form";
}

<h2>Document Form</h2>

@using (Html.BeginForm("CreateDocument", "Home", FormMethod.Post))
{
    <div style="margin-bottom:10px;">
        <label for="ContactName">Name:</label>
        @Html.TextBoxFor(m => m.ContactName, new { style = "width:300px;" })
    </div>

    <div style="margin-bottom:10px;">
        <label for="CompanyName">Company Name:</label>
        @Html.TextBoxFor(m => m.CompanyName, new { style = "width:300px;" })
    </div>

    <div style="margin-bottom:10px;">
        <label for="Address">Address:</label>
        @Html.TextBoxFor(m => m.Address, new { style = "width:300px;" })
    </div>

    <div style="margin-bottom:10px;">
        <label for="City">City:</label>
        @Html.TextBoxFor(m => m.City, new { style = "width:300px;" })
    </div>

    <div style="margin-bottom:10px;">
        <label for="Country">Country:</label>
        @Html.TextBoxFor(m => m.Country, new { style = "width:300px;" })
    </div>

    <div style="margin-bottom:10px;">
        <label for="Phone">Phone:</label>
        @Html.TextBoxFor(m => m.Phone, new { style = "width:300px;" })
    </div>

    <div>
        <input type="submit" value="Create Document" style="width:150px;height:27px" />
    </div>
}
